
.vatom-list_wrap{
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    overflow: hidden;
}

.vatom-list_item{
    width: 100%;
    display: flex;
    padding: 2rem 1rem;
    border-bottom: 1px solid $gray-lt;
    transition: all .5s ease;
    &:hover{
        .reveal{
            opacity: 1;
        }
    }
    &.is-open{
        transform: scale(2);
        opacity: 0;
    }
}
.vatom-list_thumb{
    width: 140px;
    height: 140px;
    text-align: center;
    margin-right: 2rem;
    overflow: hidden;
    object-fit: cover;
    img{
        max-width: 100%;
        max-height: 100%;
    }
}

.vatom-list_details {

    .vatom-title{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;
        h4{
            margin: 0;
            font-size: 1.1rem;
            font-weight: 400;
        }
    }
    .vatom-list_desc {
        color: $gray;
        font-size: .9rem;
    }
    .vatom-list_meta {
        display: flex;
        color: $gray;
        font-size: .9rem;
        p{
            font-size: .9rem;
        }
        strong{
            font-size: .9rem;
            margin-right: 3rem;
            color: $gray-dk;
            font-weight: 400;
        }
    }
}//vatom-list_details

