.header-profile{
    @extend .header;
    position: fixed;
    top: 0 ; left: 0;
    height: 70px;
    z-index: 10;
    @include breakpoint(sm) {
      height: 100px;
    }
}

.profile-header_wrap{
    width: 100%;
    padding: 2rem 1rem;
    margin-top: 4rem;
    background-color: $white;
    @include breakpoint(sm) {
      margin-top: 6rem;
    }


}
.profile-header {
    max-width: 720px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .avatar{
        height: 80px;
        width: 80px;
        margin: 1rem 0;
    }
    @include breakpoint(sm) {
      flex-direction: row-reverse;
      justify-content: space-between;
      text-align: left;
      .avatar{
        height: 100px;
        width: 100px;
      }
    }
}

.vatom-count {
    font-size: 1.5rem;
    font-weight: 400;
    span {
        font-weight: 200;
    }
}

.profile-display_name{
    h2{
        margin: 0;
        font-weight: 400;
    }
    p{
        color: $blue;
        font-size: .9rem;
        margin: 0;
        margin-top: 1rem;
    }
    @include breakpoint(sm) {
      h2{
        font-size: 2.25rem;
      }
      p{
        font-size: 1.25rem;
      }
    }
}

.profile-form_wrap{
    max-width: 720px;
    margin: 0 auto;
    padding: 3rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include breakpoint(sm) {
      padding: 3rem 0;
    }


}

.profile-col{
    width: 100%;
    @include breakpoint(sm) {
      width: 46%;
    }
}

.merge-message{
    display: block;
    padding: .25rem 2rem 2rem 2rem;
    color: $gray;
    font-size: .9rem;
    text-align: center;
}

.profile-save_wrap {
    display: none;
    position: fixed;
    bottom: 0 ; left: 0;
    width: 100%;
    height: 100px;
    transform: translateY(100%);
    background-color: $white;
    box-shadow: 0px -2px 10px 0px rgba($gray-lt, 0.50);
    transition: transform .2s ease-in-out;
    &.is-open{
        transform: translateY(0);
    }
    @include breakpoint(sm) {
        display: block;
    }
}

.profile-save {
    max-width: 720px;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    [data-react-toolbox="button"]{
        margin: 0 1rem;
    }
}

.profile-save_mobile{
    display: flex;
    opacity: 0;
    >a {
        color: $white;
        font-size: .8rem;
        margin-left: 1rem;
    }
    &.is-visible {
        opacity: 1
    }
    @include breakpoint(sm) {
      display: none;
    }


}